{:deps    {org.clojure/clojure            {:mvn/version "1.10.3"}
           org.clojure/data.priority-map  {:mvn/version "1.1.0"}
           net.mikera/core.matrix         {:mvn/version "0.62.0"}
           org.clojure/math.combinatorics {:mvn/version "0.1.6"}}
 :paths   ["src" "resources"]

 :aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}
                   :main-opts  ["-m" "nrepl.cmdline"]}
           :test  {:extra-paths ["test"]
                   :extra-deps  {io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                   :main-opts   ["-m" "cognitect.test-runner"]
                   :exec-fn     cognitect.test-runner.api/test}}
 }
